<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="dao"/>
    <context:component-scan base-package="annotation" />


    <bean id="teacher" class="dao.Teacher">
        <property name="name" value="QAQ"/>
        <property name="tid" value="1"/>
    </bean>
    <bean id="student" class="dao.Student">
        <constructor-arg name="name" value="Fan"/>
        <constructor-arg name="age" value="11"/>
        <constructor-arg name="sid" value="1"/>
    </bean>
    <bean id="mix" class="dao.Mix">
        <property name="myList">
            <list>
                <value>list01</value>
                <value>list02</value>
            </list>
        </property>
        <property name="myArray">
            <array>
                <value>array01</value>
                <value>array02</value>
            </array>
        </property>
        <property name="myMap">
            <map>
                <entry key="key01" value="map01"/>
                <entry key="key02" value="map02"/>
            </map>
        </property>
    </bean>
    <bean name="school" class="dao.School">
        <property name="sid" value="1"/>
        <property name="student" ref="student">
        </property>
    </bean>
    <bean id="person1" class="dao.Person" scope="prototype">
        <property name="id" value="1"/>
        <property name="name" value="一"/>
    </bean>
    <bean id="person2" class="dao.Person">
        <property name="id" value="2"/>
        <property name="name" value="二"/>
    </bean>
    
    <!-- 定义目标对象 -->
    <bean id="testDao" class="Dao_.TestDaoImpl"/>
    
    <!-- 定义切面 -->
    <bean id="myAspect" class="AspectJ.xml.MyAspect"/>
    
    <!-- AOP配置 -->
    <aop:config>
        <!-- 配置切面 -->
        <aop:aspect ref="myAspect">
            <!-- 配置切入点 -->
            <aop:pointcut id="myPointCut" expression="execution(* dao.*.*(..))"/>
            <aop:before pointcut-ref="myPointCut" method="before"/>
            <aop:after pointcut-ref="myPointCut" method="after"/>
            <aop:after-returning pointcut-ref="myPointCut" method="afterReturning"/>
            <aop:around pointcut-ref="myPointCut" method="around"/>
            <aop:after-throwing method="exception" pointcut-ref="myPointCut" throwing="e"/>
            <aop:after method="after" pointcut-ref="myPointCut"/>
        </aop:aspect>
    </aop:config>
    
</beans>
